# Cenário: Loja Virtual de Produtos Eletrônicos

### Carregamento de dados

In [9]:
import pandas as pd

df = pd.read_csv('../data_raw/vendas2024.csv')
df

,order_id,product_name,category,price,quantity,order_date,customer_region,payment_method
0,1001,Teclado Gamer RGB,Periféricos,202.79,4,2024-10-01,Sudeste,Boleto
1,1002,Teclado Gamer RGB,Periféricos,2117.41,2,2024-03-12,Centro-Oeste,Boleto
2,1003,Monitor UltraWide,Monitores,4496.22,3,2024-06-06,Nordeste,Boleto
3,1004,Mouse Ergonômico,Periféricos,209.22,3,2024-10-11,Norte,Paypal
4,1005,Mouse Ergonômico,Periféricos,3312.43,5,2024-12-01,Centro-Oeste,Paypal
...,...,...,...,...,...,...,...,...
9995,10996,Fone Bluetooth Pro,Acessórios,2638.53,4,2024-03-17,Sudeste,Paypal
9996,10997,Mouse Ergonômico,Periféricos,3711.82,2,2024-02-23,Sudeste,Cartão
9997,10998,Smartwatch X200,Wearables,643.17,3,2024-06-24,Norte,Cartão
9998,10999,Teclado Gamer RGB,Periféricos,3002.64,1,2024-09-07,Sul,Pix
9999,11000,Notebook Turbo14,Computadores,814.33,2,2024-04-19,Nordeste,Boleto

In [10]:
df["order_date"] = pd.to_datetime(df["order_date"])
df["month"] = df["order_date"].dt.month
df["revenue"] = df["price"] * df["quantity"]
df.head()

,order_id,product_name,category,price,quantity,order_date,customer_region,payment_method,month,revenue
0,1001,Teclado Gamer RGB,Periféricos,202.79,4,2024-10-01,Sudeste,Boleto,10,811.16
1,1002,Teclado Gamer RGB,Periféricos,2117.41,2,2024-03-12,Centro-Oeste,Boleto,3,4234.82
2,1003,Monitor UltraWide,Monitores,4496.22,3,2024-06-06,Nordeste,Boleto,6,13488.66
3,1004,Mouse Ergonômico,Periféricos,209.22,3,2024-10-11,Norte,Paypal,10,627.66
4,1005,Mouse Ergonômico,Periféricos,3312.43,5,2024-12-01,Centro-Oeste,Paypal,12,16562.15

In [ ]:
categoriaQuantidade = df.groupby("category")["quantity"].sum().sort_values(ascending=False)

In [13]:
print("categorias de produtos mais vendidas:")
print(categoriaQuantidade)

categorias de produtos mais vendidas:
category
Armazenamento    6225
Periféricos      5942
Wearables        3096
Tablets          3024
Câmeras          3003
Monitores        2973
Acessórios       2929
Computadores     2897
Name: quantity, dtype: int64

In [16]:
ticketMedio = df["revenue"].sum() / df["order_id"].count()

In [18]:
print('Calcular o ticket médio das vendas:')
print(f'Ticket médio R$ {ticketMedio:.2f}')

Calcular o ticket médio das vendas:
Ticket médio R$ 7825.93