# Cenário: Loja Virtual de Produtos Eletrônicos

### Carregamento de dados

In [7]:
import pandas as pd

df = pd.read_csv('../data_raw/vendas2024.csv')
df

,order_id,product_name,category,price,quantity,order_date,customer_region,payment_method
0,1001,Teclado Gamer RGB,Periféricos,202.79,4,2024-10-01,Sudeste,Boleto
1,1002,Teclado Gamer RGB,Periféricos,2117.41,2,2024-03-12,Centro-Oeste,Boleto
2,1003,Monitor UltraWide,Monitores,4496.22,3,2024-06-06,Nordeste,Boleto
3,1004,Mouse Ergonômico,Periféricos,209.22,3,2024-10-11,Norte,Paypal
4,1005,Mouse Ergonômico,Periféricos,3312.43,5,2024-12-01,Centro-Oeste,Paypal
...,...,...,...,...,...,...,...,...
9995,10996,Fone Bluetooth Pro,Acessórios,2638.53,4,2024-03-17,Sudeste,Paypal
9996,10997,Mouse Ergonômico,Periféricos,3711.82,2,2024-02-23,Sudeste,Cartão
9997,10998,Smartwatch X200,Wearables,643.17,3,2024-06-24,Norte,Cartão
9998,10999,Teclado Gamer RGB,Periféricos,3002.64,1,2024-09-07,Sul,Pix
9999,11000,Notebook Turbo14,Computadores,814.33,2,2024-04-19,Nordeste,Boleto

In [8]:
df["order_date"] = pd.to_datetime(df["order_date"])
df["month"] = df["order_date"].dt.month
df["revenue"] = df["price"] * df["quantity"]
df.head()

,order_id,product_name,category,price,quantity,order_date,customer_region,payment_method,month,revenue
0,1001,Teclado Gamer RGB,Periféricos,202.79,4,2024-10-01,Sudeste,Boleto,10,811.16
1,1002,Teclado Gamer RGB,Periféricos,2117.41,2,2024-03-12,Centro-Oeste,Boleto,3,4234.82
2,1003,Monitor UltraWide,Monitores,4496.22,3,2024-06-06,Nordeste,Boleto,6,13488.66
3,1004,Mouse Ergonômico,Periféricos,209.22,3,2024-10-11,Norte,Paypal,10,627.66
4,1005,Mouse Ergonômico,Periféricos,3312.43,5,2024-12-01,Centro-Oeste,Paypal,12,16562.15

In [26]:
categoriaQuantidade = df.groupby("category")["quantity"].sum().sort_values(ascending=False)
produtoQuantidade = df.groupby("product_name")["quantity"].sum().sort_values(ascending=False)
regiaoValor = df.groupby("customer_region")["revenue"].sum().sort_values(ascending=False)
regiaoQuantidade = df.groupby("customer_region")["quantity"].sum().sort_values(ascending=False)

In [37]:
df.groupby("order_date")["revenue"].sum().sort_values(ascending=True)

order_date
2024-09-18     71501.33
2024-08-30     95132.26
2024-06-12    101349.57
2024-06-25    108025.17
2024-01-04    110005.95
                ...
2024-10-12    339765.81
2024-02-18    349429.07
2024-04-10    352491.90
2024-03-11    355172.81
2024-11-11    365486.33
Name: revenue, Length: 365, dtype: float64

In [42]:
df["payment_method"].value_counts()

payment_method
Boleto    2556
Cartão    2494
Paypal    2475
Pix       2475
Name: count, dtype: int64

In [47]:
df.groupby("product_name")["quantity"].sum()

product_name
Câmera ZoomX          3003
Fone Bluetooth Pro    2929
HD Externo 2TB        3200
Monitor UltraWide     2973
Mouse Ergonômico      2882
Notebook Turbo14      2897
SSD 1TB               3025
Smartwatch X200       3096
Tablet Vision10       3024
Teclado Gamer RGB     3060
Name: quantity, dtype: int64